/* Coolors Exported Palette - https://coolors.co/ffeada-99490f-662c05-ffbd59-000000 */

/* CSS HEX */
--champagne-pink: #ffeadaff;
--brown: #99490fff;
--seal-brown: #662c05ff;
--hunyadi-yellow: #ffbd59ff;
--black: #000000ff;

/* CSS HSL */
--champagne-pink: hsla(26, 100%, 93%, 1);
--brown: hsla(25, 82%, 33%, 1);
--seal-brown: hsla(24, 91%, 21%, 1);
--hunyadi-yellow: hsla(36, 100%, 67%, 1);
--black: hsla(0, 0%, 0%, 1);

/* SCSS HEX */
$champagne-pink: #ffeadaff;
$brown: #99490fff;
$seal-brown: #662c05ff;
$hunyadi-yellow: #ffbd59ff;
$black: #000000ff;

/* SCSS HSL */
$champagne-pink: hsla(26, 100%, 93%, 1);
$brown: hsla(25, 82%, 33%, 1);
$seal-brown: hsla(24, 91%, 21%, 1);
$hunyadi-yellow: hsla(36, 100%, 67%, 1);
$black: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$champagne-pink: rgba(255, 234, 218, 1);
$brown: rgba(153, 73, 15, 1);
$seal-brown: rgba(102, 44, 5, 1);
$hunyadi-yellow: rgba(255, 189, 89, 1);
$black: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffeadaff, #99490fff, #662c05ff, #ffbd59ff, #000000ff);
$gradient-right: linear-gradient(90deg, #ffeadaff, #99490fff, #662c05ff, #ffbd59ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #ffeadaff, #99490fff, #662c05ff, #ffbd59ff, #000000ff);
$gradient-left: linear-gradient(270deg, #ffeadaff, #99490fff, #662c05ff, #ffbd59ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #ffeadaff, #99490fff, #662c05ff, #ffbd59ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #ffeadaff, #99490fff, #662c05ff, #ffbd59ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #ffeadaff, #99490fff, #662c05ff, #ffbd59ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #ffeadaff, #99490fff, #662c05ff, #ffbd59ff, #000000ff);
$gradient-radial: radial-gradient(#ffeadaff, #99490fff, #662c05ff, #ffbd59ff, #000000ff);




/* Media queries for logo on navbar */
/* For mobile screensizes /*
/* For tablet screensizes /*
/* For desktop screensizes /*

/*CSS*/


/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #6F86FF;
}

body {
    background-color: rgb(65, 71, 97);
    font-family: sans-serif;
}



/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}



/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(34, 37, 49);
}



/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


const hamMenu = document.querySelector(".ham-menu");

const offScreenMenu = document.querySelector(".off-screen-menu");

hamMenu.addEventListener("click", () => {
  hamMenu.classList.toggle("active");
  offScreenMenu.classList.toggle("active");
});